
<header class="bg-gradient bg-primary text-white text-center py-4">
  <h1 class="display-4">Examen VMG</h1>
  <p class="lead">Examen</p>
</header>


<section class="container my-5">
  <div class="text-center mb-5">
    <h2 class="fw-bold">Lista de Productos</h2>
    <hr class="w-25 mx-auto" style="border-color: #007bff;">
  </div>
  

  <router-outlet></router-outlet>
</section>


<footer class="bg-dark text-white text-center py-3 fixed-bottom">
  <p class="mb-0">&copy; 2025 - Todos los derechos reservados</p>
</footer>